<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }} fade-out" id="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <script>
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.remove();
            }
        }, 10000); // 10 seconds
    </script>
    {% endif %}
    {% endwith %}
   <div class="container">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
    <div class="login-links">
        <a href="/login">Already have an accout? Login</a>
    </div>
</div>
</body>
</html>