/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-links, .register-link {
    text-align: center;
    margin-top: 20px;
}

.login-links, .register-link p {
    display: inline;
    margin-right: 10px;
}

.login-links, .register-link a {
    color: #007bff;
    text-decoration: none;
}

.login-links, .register-link a:hover {
    text-decoration: underline;
}


/* stying for flash messages */
.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.flash-error {
    background-color: #dc3545; 
}

.flash-success {
    background-color: #28a745; 
}

.fade-out {
    animation: fadeOut 10s ease-in-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}